@model ProjetoFinal2.Models.CadastroVoluntario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CadastroVoluntario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psicologia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psicologia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Juridico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Juridico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geral)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Voluntario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
